<div class="container title"> 
    <h1 class="pt-5"> My work </h1>
        <div class="row my-5">
            <div class="col-md-6">
                <h3 class="mt-3 mb-5"> Singing project </h3>
                    <p> This was my first project.</p>
                    <p> I created a website for a fictional singing school.</p>
                    <p> Coded using HTML, CSS, and JavaScript to create </p>
                    <p> some user interactions.</p> 
                    <%= link_to "View project", "https://singing-project.netlify.app/", target: "_blank", class: "btn btn-custom mt-3" %>
            </div>
            <div class="col-md-6 pt-5">
                    <%= image_tag "singing.png", class: "img-fluid mx-auto d-block p-2", alt: "Singing project" %>
            </div>
        </div>
        <div class="row my-5 pt-3">
            <div class="col-md-6">
                <h3 class="mt-5 mb-5"> Weather App </h3>
                    <%= image_tag "weather.png", class: "img-fluid mx-auto d-block p-2", alt: "Weather App" %>
            </div>
            <div class="col-md-6 mt-5 pt-5">
                <p> Weather application. It was built using OpenWeatherMap API. </p>
                <p> It allows the user to search for a city and get the weather in that </p>
                <p> city, as well as the current temperature, humidity, wind speed </p>
                <p> and more. The user can also search for weather in their current </p>
                <p> location. </p>
                <p> Coded using advanced HTML, CSS, and JavaScript. </p>
                <p> It uses also Bootstrap framework. </p>
                <p> It was deployed on Netlify. </p>
                <%= link_to "View project", "https://priceless-cray-e003d7.netlify.app/", target: "_blank", class: "btn btn-custom mt-3" %>
            </div>
        </div>
        <div class="row my-5 pt-3">
            <div class="col-md-6">
                <h3 class="mt-5 mb-5"> Tweetie </h3>
                    <p> Tweetie is a Twitter clone. It allows the user to create </p>
                    <p> tweets, follow other users, and see their tweets. </p>
                    <p> Users can also search for tweets by hashtag, get tweets  </p>
                    <p> from people they follow, and give them a like. </p>
                    <p> This was one of my first projects using Ruby on Rails. </p>
                    <p> It also uses Bootstrap framework, HTML, CSS, and </p>
                    <p> responsive design. </p>
                    <p> Deployed on Heroku. </p>
                    <%= link_to "View project", "https://shrouded-atoll-56290.herokuapp.com/", target: "_blank", class: "btn btn-custom mt-3" %>
            </div>
            <div class="col-md-6 pt-5">
                <%= image_tag "tweetie-2.png", class: "img-fluid mx-auto d-block p-2", alt: "Tweetie" %>
            </div>
        </div>
        